<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Welcome New Student</h2>

<!--Displaying Value-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${ 'welcome ' + students.get(0).getFirstName()}"></h2>

<!--Link-->
<a th:href="@{https://cydeo.com}">Cydeo Page</a><br/>
<a th:href="@{/student/welcome}">Goto welcome Page</a><br>

<!--Adding variable-->
<a th:href="@{/student/welcome(id=2)}">static id </a><br/>
<a th:href="@{/student/welcome(${students.get(0).getFirstName()})}">dynamic id </a><br/>

<!--iteration-->
<ul>
    <h2>student list</h2>
    <li th:each="student: ${students}" th:text="${student.firstName}">student</li>
</ul>

<!--conditional logic-->
<div th:text="${students.get(0).age > 30 ? 'ineligible' : 'eligible'}">eligible</div>
<div th:if="${students.get(0).state == 'Arizona'}">Arizona</div>
<div th:unless="${students.get(0).state == 'Arizona' }">Not Arizona</div>

</body>
</html>